@media only screen and (min-device-width: 820px) {
  body,
  main,
  footer,
  .project-nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grg) var(--gcg);
    grid-column: 1 / span 12;
    font-size: 22px;
  }
  footer {
    div {
      grid-column: 4 / span 6;
    }
  }
  nav {
    grid-column: 1 / span 12;

    ul  {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--grg) var(--gcg);
      padding: 0;
      li {

        a {

        }
        &:first-child {
          grid-column: 4;
          text-align: left;
        }
        &:nth-child(2) {
          grid-column: 8;
        }
      }
    }
  }
  .content-block {
    grid-column: 4 / span 6;
  }
  figure {
    //grid-column: 3 / span 8;
    grid-column: 4 / span 6;
  }
  figure.wide-image {
    grid-column: 3 / span 8;
  }
  .project-nav {
    font-size: 1em;
    .project-prev {
      display: inline-block;
      grid-column: 4 /span 3;
      .description {
        top: 2em;
      }
    }
    .project-next {
      display: inline-block;
      grid-column: 7 /span 3;
      .description {
        top: 2em;
      }
    }
    a {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
