:root {
  --color: #333333;
  --background-light: #fdfdfd;
  --background-darker: #fbf5f5;
  --accent: #e84a5f;
  --grg: 16px;
  --gcg: 16px;
  --heading: 'Roboto', sans-serif;
  --copy: 'EB Garamond', serif; }

* {
  box-sizing: border-box; }

body {
  display: inline-grid;
  grid-gap: var(--grg) var(--gcg);
  width: 100%;
  font-family: var(--copy);
  font-size: 20px;
  color: var(--color);
  /*
    background-color: var(--background-darker);
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, var(--background-light) 25%, transparent 25%, transparent 75%, var(--background-light) 75%, var(--background-light)),
    linear-gradient(120deg, var(--background-light) 25%, transparent 25%, transparent 75%, var(--background-light) 75%, var(--background-light));
    background-size: 70px 120px;
  
    background: radial-gradient(var(--background-darker) 3px, transparent 4px),
      radial-gradient(var(--background-darker) 3px, transparent 4px),
      linear-gradient(var(--background-light) 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, var(--background-darker) 75px, var(--background-darker) 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, var(--background-darker) 76px, var(--background-darker) 77px, transparent 78px, transparent 109px),
      var(--background-light);
      background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
      background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  */
  background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, var(--background-darker) 10px, rgba(96, 16, 48, 0) 11px) 0px 10px, radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, var(--background-darker) 10px, rgba(96, 16, 48, 0) 11px), var(--background-light);
  background-size: 20px 20px; }

p {
  line-height: 1.5em; }

h1 {
  font-family: var(--heading);
  font-weight: 700;
  margin: 2em 0 1em; }
  h1 span {
    color: var(--accent); }

h2 {
  font-family: var(--heading);
  font-weight: 400;
  color: #666666; }

h3 {
  font-family: var(--heading);
  margin: 2em 0 1em;
  text-transform: uppercase; }

h4 {
  font-family: var(--heading);
  margin: 2em 0 1em;
  text-transform: uppercase; }
  h4 span {
    color: #666666; }

figure {
  margin: 1em 0; }

figcaption {
  font-size: .75em;
  text-align: center;
  font-family: var(--heading);
  padding-top: .25em;
  color: #999999; }

nav {
  background: var(--background-light);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 3px var(--background-darker), 0 2px 3px var(--background-darker); }
  nav ul {
    padding: 0; }
    nav ul li {
      text-decoration: none;
      display: inline-block;
      text-align: right;
      float: left; }
      nav ul li a {
        text-decoration: none;
        color: var(--color);
        font-family: var(--heading);
        font-size: .75em; }
      nav ul li .current {
        color: var(--accent);
        font-weight: 700; }
      nav ul li:first-child {
        text-align: left; }

.hero span {
  font-size: 1em;
  color: var(--accent); }

.content-block ul {
  list-style-type: none;
  padding: 0; }
  .content-block ul li {
    margin-bottom: .5em; }
    .content-block ul li::before {
      content: "\2022";
      color: #666666;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }

.projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: calc(2 * var(--grg)) var(--gcg); }
  .projects h3 {
    grid-column: 1 / span 12; }
  .projects .card {
    grid-column: span 4;
    width: 100%;
    background: var(--background-light);
    box-shadow: 0 3px 6px var(--background-darker), 0 3px 6px var(--background-darker);
    transition: transform .25s; }
    .projects .card::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
      content: '';
      opacity: 0;
      z-index: -1; }
    .projects .card:hover, .projects .card:focus {
      transform: scale3d(1.006, 1.006, 1); }
      .projects .card:hover::after, .projects .card:focus::after {
        opacity: 1; }
    .projects .card img {
      width: 100%;
      height: auto; }
    .projects .card a {
      text-decoration: none; }
    .projects .card .card-text {
      padding: .5em;
      vertical-align: middle;
      font-family: var(--heading); }
      .projects .card .card-text p {
        margin: 0;
        line-height: 1em; }
      .projects .card .card-text span {
        font-size: .5em;
        margin-right: .5em; }

.responsive-h {
  width: 100%;
  height: auto; }

@media only screen and (max-device-width: 569px) {
  body {
    grid-template-columns: var(--gcg) repeat(4, 1fr) var(--gcg);
    grid-gap: var(--grg) var(--gcg); }

  h1 {
    font-size: 2em;
    line-height: 1.1em; }

  nav {
    grid-column: 1 /span 6; }
    nav ul {
      display: grid;
      grid-template-columns: var(--gcg) repeat(4, 1fr) var(--gcg);
      grid-gap: var(--grg) var(--gcg); }
      nav ul li:first-child {
        grid-column: 2; }
      nav ul li:nth-child(2) {
        grid-column: 4; }
      nav ul li:nth-child(3) {
        grid-column: 5; }

  .content-block {
    grid-column: 2 /span 4; }

  figure {
    grid-column: span 6; }

  .projects .card {
    grid-column: span 12; } }
@media only screen and (min-device-width: 570px) and (max-device-width: 694px) {
  body {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grg) var(--gcg); }

  nav {
    grid-column: 1 / span 12; }
    nav ul {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--grg) var(--gcg);
      padding: 0; }
      nav ul li:first-child {
        grid-column: 2;
        text-align: left; }
      nav ul li:nth-child(2) {
        grid-column: 10; }

  .content-block {
    grid-column: 2 / span 10; }

  figure {
    grid-column: 2 / span 10; }

  .projects .card {
    grid-column: span 6; } }
@media only screen and (min-device-width: 695px) and (max-device-width: 819px) {
  body {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grg) var(--gcg); }

  nav {
    grid-column: 1 / span 12; }
    nav ul {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--grg) var(--gcg);
      padding: 0; }
      nav ul li:first-child {
        grid-column: 3;
        text-align: left; }
      nav ul li:nth-child(2) {
        grid-column: 9; }

  .content-block {
    grid-column: 3 / span 8; }

  figure {
    grid-column: 3 /span 8; }

  .projects .card {
    grid-column: span 6; } }
@media only screen and (min-device-width: 820px) {
  body {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grg) var(--gcg);
    font-size: 22px; }

  nav {
    grid-column: 1 / span 12; }
    nav ul {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--grg) var(--gcg);
      padding: 0; }
      nav ul li:first-child {
        grid-column: 4;
        text-align: left; }
      nav ul li:nth-child(2) {
        grid-column: 8; }

  .content-block {
    grid-column: 4 / span 6; }

  figure {
    grid-column: 4 / span 6; } }

/*# sourceMappingURL=main.css.map */
