:root {
  --text-color: #393f3e;
  --background-light: #e1e4e3;
  --background-darker: #C6CCCA;
  --accent: #B33D36;//#C5463E;
  --accent-two: #FCDD0F;
  --grg: 16px;
  --gcg: 16px;
  --heading: 'Roboto', sans-serif;
  --copy: 'EB Garamond', serif;
}
* {
  box-sizing: border-box;
}
body,
main {
  display: inline-grid;
  grid-gap: var(--grg) var(--gcg);
  font-family: var(--copy);
  font-size: 20px;
  color: var(--text-color);
  background: var(--background-light);
}
p {
  line-height: 1.5em;
  span {
    color: lighten(#393f3e, 20);
  }
}
a.link {
  background:
     linear-gradient(
       to bottom, var(--accent) 0%,
       var(--accent) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: inherit;
    text-decoration: none;
    transition: background-size .2s;
    &:hover {
      background-size: 4px 50px;
      color: var(--background-light);
    }
}
h1 {
  font-family: var(--heading);
  font-weight: 700;
  margin: 2em 0 .25em;
  span {
    color: var(--accent);
  }
}
h2 {
  font-family: var(--heading);
  font-weight: 400;
  color: lighten(#393f3e, 20);
}
h3 {
  font-family: var(--heading);
  margin: 2em 0 1em;
  text-transform: uppercase;
  &::after {
    content: " ";
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--accent-two);
    box-shadow: 1px 1px 2px 1px  rgba(198, 204, 202, 0.75);
    position: relative;
    bottom: -.25em;
    left: 0;
  }
  span.lowercase {
    text-transform: lowercase;
  }
}
h4 {
  font-family: var(--heading);
  margin: 2em 0 1em;
  text-transform: uppercase;
  span {
    color: lighten(#393f3e, 20);
  }
}
h6 {
  font-weight: 400;
  color: var(--background-darker);
  color: lighten(#393f3e, 20);
}
.highlight {
  color: var(--accent);
}
figure {
  margin: 1em 0;
}
figcaption {
  font-size: .75em;
  text-align: center;
  font-family: var(--heading);
  padding-top: .25em;
  color: lighten(#393f3e, 40);
}
.navbar1 { // class added on scroll
  box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 8px 0px, rgba(0, 0, 0, 0.03) 0px 6px 20px 0px
}
nav {
  background: var(--background-light);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  //box-shadow: 0 1px 2px var(--background-darker), 0 1px 2px var(--background-darker);
  ul  {
    padding: 0;
    li {
      text-decoration: none;
      display: inline-block;
      text-align: right;
      float: left;
      a {
        text-decoration: none;
        color: var(--text-color);
        font-family: var(--heading);
        font-size: .75em;
        display: inline-block;
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: var(--accent);
          transition: width .3s;
        }
        &:hover::after {
          width: 100%;
          //transition: width .3s;
        }
      }
      .current {
        color: var(--accent);
        font-weight: 700;
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: var(--accent);
        }
      }
      &:first-child {
        text-align: left;
      }
    }
  }
}
.hero {
  .tags {
    position: relative;
    font-size: 1em;
    margin-left: .75em;
    color: var(--accent);
    &:first-of-type{
      margin-left: 0;
    }
    &::before {
      content: '\00B7';
      position: absolute;
      left: -.25em;
    }
  }
}

.content-block ul {
  list-style-type: none;
  padding: 0;
  li {
    margin-bottom: .5em;
    &::before {
      content: "\2022";
      color: lighten(#393f3e, 20);
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}
.projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  h3 {
    grid-column: 1 / span 12;
  }
  .inactive {
  }
  .card {
    grid-column: span 4;
    width: 100%;
    background: var(--background-light);
    box-shadow: 0 3px 6px var(--background-darker), 0 3px 6px var(--background-darker);

    // Card Effect
    transition: transform .25s;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .25s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
      content: '';
      opacity: 0;
      z-index: -1;
    }

    &:hover,
    &:focus {
      transform: scale3d(1.006, 1.006, 1);

      &::after {
        opacity: 1;
      }
    }
    // End Car Effect
    img {
      width: 100%;
      height: auto;
    }
    a {
      text-decoration: none;
    }
    .card-text {
      padding: .5em;
      font-family: var(--heading);
      p {
        margin: 0;
        line-height: 1em;
        color: var(--text-color);
        span {
          display: inline-block;
          line-height: .25em;
          font-size: .5em;
          margin: 0 1em 0 0;
          color: var(--accent);
        }
      }
    }
  }
}
.responsive-h {
  width: 100%;
  height: auto;
}
.project-nav {
  margin: 100px 0 100px 0;
  text-align: center;

  position: relative;
  color: inherit;
  a {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: block;
    line-height: 1.25em;
    background: var(--background-darker);
    border-bottom: 1px solid;
    padding-top: .25em;
    padding-bottom: .25em;
    &:hover > .description {
      opacity: 1;
    }
    &:hover > .direction::after {
      width: 100%;
    }
  }
  .direction {
    &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    height: 4px;
    width: 60%;
    background-color: var(--text-color);
    transition: width 0.25s ease;
    }
  }
  .project-next .direction {
    &::after {
      left: 0;
    }
  }
  .project-prev .direction {
    &::after {
      right: 0;
    }
  }
  .direction {
    font-family: var(--heading);

    &:hover::after {

    }

  }
  .description {
    padding-top: 1.5em;;
    font-size: .75em;
    line-height: 1em;
    position: absolute;
    left: 0;
    transform: translate3d(0, -12px, 0);
    width: 100%;
    cursor: default;
    opacity: 0;
    transition: transform .25s ease, opacity .25s ease;
    transition-delay: 0s;
    pointer-events: none;
    word-wrap: break-word;
  }
}
footer {
  display: grid;
  grid-gap: var(--grg) var(--gcg);
  background: var(--text-color);
  color: var(--background-light);
  margin-top: 2em;
  padding: 3em 0;
  font-family: var(--heading);

  div {
    grid-column: 2 / span 4;
    h5 {
      margin: .75em 0 0;
      color: lighten(#393f3e, 20) // bullet colour
    }
    a {
      color: var(--background-light);
      text-decoration: none;
      //font-size: .75em;
      margin-top: 0;
    }
  }

}
@import 'small';
@import 'medium';
@import 'large';
